body {
  font-family: 'Magra', sans-serif;
  background: floralwhite;
}

span.blank:before {
  content: "\200b";
}

.cover {
  background-color: floralwhite;
  transition: height ease 0.5s;
}

.cover.hidden {
  height: 0;
}